body{
	background-color: rgb(35,77,85);
}

#clearfix {
  overflow: auto;
  width: 900px; 
  padding: 10px;
  background-color:#6F8A83;
}

#i1 {
	border:2px solid black;
}

input
{
	background-color:white;
}

.thumbnail {
	background-color:rgb(192,192,192);
	border:5px solid black;
}
.img2 {
  float: right;
}
.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}

.pagination a.active {
  background-color: dodgerblue;
  color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}